* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4d04e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  font-family: Figtree;
}
.yellow {
  border: solid black 3px;
  width: 327px;
  height: 501px;
  background-color: white;
  border-radius: 5%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}

header h2 {
  background-color: #f4d04e;
  border-radius: 30%;
  width: 110px;
}
h3 {
  font-size: 22pxpx;
}
